/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: 'Indie Flower',Arial, sans-serif;
    background-image: url("images/buddha-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #63AA9C*/
}

p, li {
    font-size: 18px;
    list-style-type: none;
    text-align: center;


}

/*.img-thumbnail{
  background-image: url("images/buddha-image.jpg");
  position: absolute;
  top: 5em;
  left: 5em;
}
*/


.fortune-cookie-saying-wrapper {

    width: 55em;
    /*border: 2px solid #666;*/
    padding: 8em;
    margin: 1em;
    background-image: url("images/blank-Fortune-Cookie.png");
    background-size: 40em;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center;
}
#fortune-cookie-text{
  position: absolute;
  top: 11.5em;
  left: 31em;
  margin-right: 35em;
  margin-left: 2em;
}
