/* Fortune Cookie Generator Styles */
/*------- gradient background for entire page-------*/
body {
  padding: 2em;
  font-family: 'Indie Flower', Arial, sans-serif;
  background: #24a1f4;
}

/*------text styling-------*/

header {
  display: flex;
  justify-content: center;
}
h2 {
  display: flex;
  justify-content: center;
}
p,
li {
  font-size: 18px;
  list-style-type: none;
  text-align: center;
}
.center-content {
  display: flex;
  justify-content: center;
}

/*-----div for fortune cookie------*/

.fortune-cookie-saying-wrapper {
  background-image: url('images/blank-Fortune-Cookie.png');
  background-repeat: no-repeat;
  background-size: 38em;
  padding: 7em;
  margin: 1em;
  background-position: center;
}

/*----button-----*/
.button-section {
  display: flex;
  justify-content: center;
}
.generate-button {
  font-family: 'Indie Flower', Arial, sans-serif;
  padding: 11px;
  font-size: 17px;
  border: 2px solid;
  border-radius: 14px;
  color: rgb(128, 0, 0);
  display: flex;
  justify-content: center;
}

/*------fortune cookie text-------*/
.fortune {
  display: grid;
  grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
  grid-gap: 5px;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  margin: 0 0 1rem 8rem;
}
p#fortune-cookie-text {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0 auto;
}
