/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: 'Indie Flower',Arial, sans-serif;
    background-color: #63AA9C
}

p, li {
    font-size: 18px;
    list-style-type: none;
    text-align: center;

}



.fortune-cookie-saying-wrapper {

    width: 55em;
    /*border: 2px solid #666;*/
    padding: 8em;
    margin: 1em;
    background-image: url("images/blank-Fortune-Cookie.png");
    background-size: 40em;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center;
}
#fortune-cookie-text{
  position: absolute;
  top: 12.5em;
  left: 32.5em;
  padding-right: 20.5em;
}
